body {
    background-image: url('fundo3.jpg');
    background-repeat:repeat;
    background-size: 130%;
    background-position: center;
}
#senaclogonumeros {
    color: rgb(0, 75, 181);
}

hr {
    color: black;
}

h1 {
    color: rgb(247, 148, 30);
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-variant-caps: all-small-caps;
}

h3 {
    color: rgb(0, 75, 181);
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-variant-caps: all-small-caps;
}

p, ul, a, td {
    color: rgb(0, 0, 0);
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-variant-caps: all-small-caps;
}

th {
    color: rgb(0, 75, 181);
    background-color: rgb(255, 255, 255);
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-variant-caps: all-small-caps;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
}

table tr td {
    background-color: rgb(255, 255, 255);
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
}